@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");

Resets
* {
  margin: 0; /* base */
  padding: 0; /* base */
  box-sizing: border-box; /* base */
  text-decoration: none; /* base */
  list-style: none; /* base */
}

body {
  font-family: "Josefin Sans", sans-serif; /* keep */
  font-style: normal;
  background: #fff;
  position: relative;
  min-height: 100vh; /* base */
  background-color: antiquewhite;
}

/* Navbar Desktop*/
nav {
  background-image: url("./images/silkFabric.png"); /* keep */
  background-size: cover; /* keep */
  background-repeat: no-repeat; /* keep */
  background-position: center; /* keep */
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1); /* revise */
  padding: 1em 2.5em; /* keep */
  background-color: #fff;
}

.nav-container {
  display: flex; /* keep */
  align-items: center; /* keep */
  margin: 0 6.5em 0 6.5em; /* keep */
  justify-content: space-between; /* keep */
  height: 2em; /* keep */
}

/* Logo */
.header-logo-link {
  height: 100%; /* keep */
}

.header-logo-image {
  max-height: 100%; /* keep */
  width: 100%; /* keep */
}

/* Search box */
.search-box {
  display: flex; /* keep */
  height: 100%; /* keep */
  align-items: center;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.search-input {
  background: transparent;
  border: none;
  outline: none;
  font-weight: 500;
  font-size: 16px;
  transition: 0.8s;
  color: black;
  font-family: "Josefin Sans", sans-serif; /* keep */
  padding: 1em;
}

::placeholder {
  color: black;
  font-family: "Josefin Sans", sans-serif; /* keep */
}

.btn-search {
  border: 0;
  padding: 0 0.5em 0 0.5em;
  height: 100%;
  background-color: #e3e2eb;
  cursor: pointer;
  transition: all 0.3s ease 0s; /*keep*/
}

.btn-search img {
  width: 1.5em;
}

.btn-search:hover {
  background-color: silver;
}

.btn-search:active {
  background-color: #e3e2eb;
}

/* Link items */
.nav-links {
  display: flex; /* keep */
  align-items: center; /* keep */
  /* column-gap: 2em; keep */
  height: 100%;
}

.nav-link-item:last-child:hover {
  background-color: #f0f0f0; /*change?*/
}
.nav-link {
  transition: all 0.3s ease 0s; /*keep*/
}

.nav-link:hover {
  color: brown; /*change???*/
}

.nav-link {
  color: black; /*change???*/
  font-size: large;
  font-weight: 400;
  padding: 0 1em;
}
#user-icon {
  padding: 0 0.5em 0 0.5em;
}

/* Navbar Mobile */
.dropdown-menu {
  position: fixed;
  top: 0;
  right: 0;
  height: 100vh;
  width: 20em;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.37);
  background-image: url("./images/silkFabric.png"); /* keep */
  background-size: cover; /* keep */
  background-repeat: no-repeat; /* keep */
  background-position: center; /* keep */
  box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.dropdown-menu li a{

}
