@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap");
@import "./vars.css";
/*Lock*/ /* reset */
* {
  margin: 0; /* base */
  padding: 0; /* base */
  box-sizing: border-box; /* base */
  font-family: "Josefin Sans", sans-serif; /* base */
  position: relative;
  font-size: 14px;
}

html {
  scroll-behavior: smooth; /* base */
}

a {
  text-decoration: none; /* base */
  color: var(--color-text);
}

li {
  list-style: none; /* base */
}
