@import "../vars.css";

.aside_menu {
  z-index: 1;
  position: fixed;
  bottom: 5%;
  right: 15%;
  max-width: 50%;
  max-height: 50%;
  transform: translate(-15%, -5%);
}
.aside_item {
  display: flex;
  justify-content: right;
  align-items: center;
  gap: 1rem;
}
.aside_link img {
  width: 4rem;
  height: 4rem;
  object-fit: contain;
  background-color: transparent;
  cursor: pointer;
  padding: 0.5rem;
}
.aside_link:hover {
  background-color: rgba(0, 0, 0, 0.4);
}

.aside_text {
  transform: scale(0);
}
.aside_item:hover .aside_text{
  transform: scale(1);
  flex: 10;
  font-size: 1rem;
  font-weight: 400;
  text-align: right;
}

@media screen and (min-width: 992px) {
}
