@import "../vars.css";

section {
  margin: 3.8rem 4rem 0;
  padding: 0 2.5rem;
}

.banner_container {
  display: flex;
  gap: 1rem;
}

.advertise_cards {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.carousel {
  flex: 2;
  width: 100%;
  height: 100%;
}

.sale_prices {
  display: flex;
  height: 100%;
}

.sale_prices a img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.voucher_codes {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 0 2.5rem 0 0;
}
.voucher_code img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.voucher_wrapper {
  padding: 1rem 0;
  width: 100%;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}
.code {
  flex: 0.75;
  width: 100%;
  height: 100%;
}
.voucher_content {
  flex: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.voucher_content h1,
.voucher_content button {
  font-size: 1rem;
  font-weight: 500;
}
.voucher_content p {
  margin: 0.5rem 0;
  font-size: 0.75rem;
  font-weight: 400;
}

.voucher_content button {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: none;
  color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.carousel_items {
  overflow: hidden;
  display: flex;
}

.carousel_item {
  display: block;
}
.carousel_item_selected {
  display: block;
}

.carousel_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_item_selected img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_slick_dots {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.carousel_slick_dots span {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem;
}

.carousel_slick_dots span.selected {
  background-color: var(--bs-secondary);
}
@media screen and (max-width: 1200px) {
  section {
    margin-right: 0;
    margin-left: 0;
  }

  .banner_container {
    flex-direction: column-reverse;
  }
  .voucher_codes {
    flex-direction: row;
  }
  .voucher_code img {
    object-fit: scale-down;
  }
  .voucher_content h1,
  .voucher_content p,
  .voucher_content button {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 922px) {
  .voucher_content h1,
  .voucher_content p,
  .voucher_content button {
    font-size: 0.75rem;
  }
  .voucher_wrapper {
    padding: initial;
  }
  .sale_prices {
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 600px) {
  .voucher_codes {
    flex-direction: column;
  }

  .voucher_codes {
    padding: 0 2.5rem;
  }
  .voucher_content h1,
  .voucher_content p,
  .voucher_content button {
    font-size: 1rem;
  }
}
