@import "../vars.css";

section {
  margin: 3.8rem 4rem 0;
  padding: 0 2.5rem;
}

.banner_container {
  display: flex;
  height: 100%;
}

.advertise_cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel {
 flex: 2;
}

.sale_prices {
  display: flex;
  height: 100%;
  flex: 2;
}

.sale_prices a img {
  height: 100%;
  width: 100%;
  object-fit: scale-down;
}

.voucher_codes {
  flex: 3.5;
  display: flex;
  gap: 1rem;
  flex-direction: column;
}

.voucher_wrapper {
  display: flex;
}
.voucher_wrapper img {
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.voucher_code {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  display: flex;
}

.code {
  flex: 30%;
  width: 100%;
  height: 100%;
}
.voucher_content {
  flex: 75%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.voucher_content h1 {
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
}

.voucher_content p {
  margin: 0.5rem 0;
  font-size: 0.75rem;
  font-weight: 400;
}

.voucher_content button {
  background-color: transparent;
  padding: 0.25rem 0.5rem;
  cursor: pointer;
  border: none;
  color: #fff;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.carousel_item {
  display: none;
}
.carousel_item_selected {
  display: block;
}

.carousel_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_item_selected img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_slick_dots {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.slick_dot {
  width: 0.5rem;
  height: 0.5rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.836);
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.slick_dot_selected {
  width: 0.65rem;
  height: 0.65rem;
  display: inline-block;
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem;
  background-color: var(--bs-secondary);
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}
.carousel button {
  position: absolute;
  top: 50%;
  cursor: pointer;
  border: none;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.4);
}

.carousel_button_left {
  left: 0;

}

.carousel_button_right {
  right: 0;
}

@media screen and (max-width: 1200px) {
  section {
    margin-right: 0;
    margin-left: 0;
  }

  .banner_container {
    flex-direction: column-reverse;
  }

  .voucher_codes {
    flex-direction: row;
  }
  .voucher_content h1,
  .voucher_content p,
  .voucher_content button {
    font-size: 1.25rem;
  }
}

@media screen and (max-width: 922px) {
  .voucher_content h1,
  .voucher_content p,
  .voucher_content button {
    font-size: 0.85rem;
  }
  .sale_prices {
    margin: 0 0 1rem 0;
  }
}

@media screen and (max-width: 600px) {
  .voucher_codes {
    flex-direction: column;
  }

  .voucher_codes {
    padding: 0 1.25rem;
  }
  .voucher_content h1,
  .voucher_content p,
  .voucher_content button {
    font-size: 1rem;
  }
}
