@import "../vars.css";

section {
  margin: 3.8rem 4rem 0;
  padding: 0 2.5rem;
  height: 100%;
  position: relative;
}

.banner_container {
  display: flex;
  gap: 1rem;
}

.advertise_cards {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.carousel {
  flex: 2;
  width: 100%;

}

.sale_prices {
  display: flex;
  flex:1;
}

.sale_prices a img {
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.voucher_codes {
  display: flex;
  width: 100%;
  flex: 1;
}

.voucher_wrapper{
 
}

.voucher_wrapper img{
  width: 100%;
  height: 100%;
  display: block;
  object-fit: contain;

}
.voucher_content{
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
}
/* .voucher_content {
  background-image: url("../../assets/banner/voucher_code.png");
  background-size: cover;
  background-repeat: none;
  color: #fff;
  z-index: 1;
  justify-content: center;
  max-width: 27.4rem;
  max-height: 8.7rem;
  /* padding: 0.5rem 0.5rem 0.5rem 6rem; */
/*}

.voucher_content h1 {
  display: -webkit-inline-box;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.5rem;
  font-weight: 500;
}
.voucher_content p {
  display: -webkit-inline-box;
  font-size: 0.5rem;
  font-weight: 400;
}
.voucher_content button {
  padding: 0.2rem 0.5rem;
  font-size: 0.5rem;
  font-weight: 500;
} */

.carousel_items {
  position: relative;
}

.carousel_item {
  display: none;
}
.carousel_item_selected {
  display: block;
}

.carousel_item img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_item_selected img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.carousel_slick_dots {
  width: 100%;
  position: absolute;
  bottom: 0;
  text-align: center;
}
.carousel_slick_dots span {
  width: 1rem;
  height: 1rem;
  display: inline-block;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  cursor: pointer;
  margin: 0.5rem;
}

.carousel_slick_dots span.selected {
  background-color: var(--bs-secondary);
}
@media screen and (max-width: 1200px) {
  section {
    margin-right: 0;
    margin-left: 0;
  }

  .banner_container {
    flex-direction: column-reverse;
  }
}
